@use "../styles/variables.scss" as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    min-height: calc(80vh - 100px);

    .heroContent {
        display: flex;
        width: 100%;
        max-width: $width-content;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .heroText {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex-basis: 50%;

            .titleContainer {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    color: $black-2;
                    line-height: 1.2;
                }

                p {
                    font-size: 1rem;
                    font-weight: 600;
                    color: $gray-3;
                }
            }

            p {
                color: $black-1;
            }
        }

        .heroImage {
            flex-basis: 50%;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    &.gray {
        background-color: $light-gray-1;
    }

    &.largePadding {
        padding: 4rem 2rem;
    }

    .sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $width-content-small;
        gap: 3rem;

        p {
            color: $black-2;
        }

        .titleContainer {
            @include section-title-container;

            & {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h2 {
                    text-align: left;
                    font-weight: 500;
                    color: $black-2;

                    span {
                        font-weight: 900;
                    }
                }

                p {
                    text-align: left;
                }
            }

            &.right {
                align-items: flex-end;

                h2 {
                    text-align: right;
                }

                p {
                    text-align: right;
                }
            }
        }

        .card {
            @include pop-out-card;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            max-width: 500px;
            gap: 3rem;

            .cardTitle {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;

                h2 {
                    font-size: 3rem;
                    font-weight: 800;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .ctaButtonContainer {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 100%;

                a {
                    width: 100%;
                    display: contents;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-desktop) {
    .hero {
        .heroContent {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .hero {
        min-height: 50vh;
        padding: 2rem 1rem;

        .heroContent {
            .heroText {
                .titleContainer {
                    h1 {
                        font-size: 2rem;
                    }
                }

                p {
                    font-size: 0.875rem;
                }
            }

            .heroImage {
                display: none;
            }
        }
    }

    .section {
        padding: 1rem;

        &.largePadding {
            padding: 2rem 1rem;
        }

        .sectionContent {
            .titleContainer {
                h2 {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 0.875rem;
            }

            .card {
                .cardTitle {
                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
