@use "@/styles/variables.scss" as *;

.blogPostCard {
    display: flex;
    gap: 1rem;

    .blogPostCardImage {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100px;
        height: 60px;

        min-width: 100px;
        min-height: 60px;

        img {
            width: 100%;
            border-radius: 0.5rem;
            object-fit: cover;
        }
    }

    .blogPostCardContent {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        font-size: 1rem !important;
        line-height: 1.2 !important;
        font-weight: 800 !important;
        color: $black-2 !important;
    }
}
