@import "./variables.scss";

body {
    max-width: 100vw;
    overflow-x: hidden;

    ::selection {
        background-color: $teal-2;
        color: $true-white;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}

* {
    font-family: var(--font-onest);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $black-2;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
b {
    color: inherit;
}
