@use "@/styles/variables.scss" as *;

.root {
    display: flex;
    padding: 1rem 2rem;
    max-width: $width-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    font-weight: 500;
    color: $blue-3;
}

.menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding: 0.25rem;
    border-radius: 0.25rem;
    height: 2.25rem;
    width: 2.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease-in-out;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.menuButtonOpen {
        background-color: $light-gray-3;
    }
}

.ctaButton {
    white-space: nowrap;
}

@media (max-width: $breakpoint-tablet) {
}
